#edit-upload-upload {
  display: grid;
  grid-template-columns: 200px 150px;
  grid-gap: 10px;
  width: 360px;
  margin: 0 auto;
}

#edit-upload-upload .form-managed-file {
  grid-column: 2 / 3;
}

#edit-upload-upload .form-file {
  display: block;
  grid-column: 1 / 2;
}

#edit-upload-upload .file {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  max-width: 100px;
  margin: 0 auto;
}

#edit-upload-upload #edit-upload-remove-button {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  max-width: 100px;
  margin: 0 auto;
}

#file-entity-add-upload .form-item-upload input {
  display: block;
}

#file-entity-add-upload .form-item-upload input.form-file {
  display: block;
  position: inherit;
  opacity: 1;
  width: 100%;
  max-width: 200px;
  height: 21px;
}

#file-entity-add-upload .form-item-upload input#edit-upload-remove-button {
  height: 34px;
  padding: 4px 17px;
}